<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Transmitter-bird.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 330}, {148, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {147, 127}}</string>
			<key>sourceSize</key>
			<string>{148, 128}</string>
		</dict>
		<key>Transmitter-lv1-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{756, 1}, {224, 328}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {223, 327}}</string>
			<key>sourceSize</key>
			<string>{224, 328}</string>
		</dict>
		<key>Transmitter-lv1-05.png</key>
		<dict>
			<key>frame</key>
			<string>{{436, 330}, {98, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {97, 79}}</string>
			<key>sourceSize</key>
			<string>{98, 80}</string>
		</dict>
		<key>Transmitter-lv1-06.png</key>
		<dict>
			<key>frame</key>
			<string>{{535, 330}, {60, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {58, 82}}</string>
			<key>sourceSize</key>
			<string>{60, 84}</string>
		</dict>
		<key>Transmitter-lv1-07.png</key>
		<dict>
			<key>frame</key>
			<string>{{531, 1}, {224, 76}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {222, 76}}</string>
			<key>sourceSize</key>
			<string>{224, 76}</string>
		</dict>
		<key>Transmitter-lv1-08-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {268, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {268, 80}}</string>
			<key>sourceSize</key>
			<string>{268, 80}</string>
		</dict>
		<key>Transmitter-lv1-08.png</key>
		<dict>
			<key>frame</key>
			<string>{{270, 1}, {260, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 36}}</string>
			<key>sourceSize</key>
			<string>{260, 36}</string>
		</dict>
		<key>Transmitter-lv1-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{150, 330}, {144, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {142, 34}}</string>
			<key>sourceSize</key>
			<string>{144, 36}</string>
		</dict>
		<key>Transmitter-lv1-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{295, 330}, {140, 28}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {140, 25}}</string>
			<key>sourceSize</key>
			<string>{140, 28}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>
