<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actor_array</key>
	<array>
		<dict>
			<key>action_array</key>
			<array>
				<dict>
					<key>action_name</key>
					<string>move_down</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>0</string>
							<key>y</key>
							<string>0</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>48</string>
							<key>y</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_left</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>0</string>
							<key>y</key>
							<string>32</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>48</string>
							<key>y</key>
							<string>32</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_right</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>0</string>
							<key>y</key>
							<string>64</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>48</string>
							<key>y</key>
							<string>64</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_up</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>0</string>
							<key>y</key>
							<string>96</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>48</string>
							<key>y</key>
							<string>96</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_down</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>24</string>
							<key>y</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_left</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>24</string>
							<key>y</key>
							<string>32</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_right</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>24</string>
							<key>y</key>
							<string>64</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_up</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>24</string>
							<key>y</key>
							<string>96</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>bunny_girl1</string>
			<key>texture</key>
			<string>bunny_girl.png</string>
		</dict>
		<dict>
			<key>action_array</key>
			<array>
				<dict>
					<key>action_name</key>
					<string>move_down</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>72</string>
							<key>y</key>
							<string>0</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>120</string>
							<key>y</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_left</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>72</string>
							<key>y</key>
							<string>32</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>120</string>
							<key>y</key>
							<string>32</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_right</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>72</string>
							<key>y</key>
							<string>64</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>120</string>
							<key>y</key>
							<string>64</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_up</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>72</string>
							<key>y</key>
							<string>96</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>120</string>
							<key>y</key>
							<string>96</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_down</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>96</string>
							<key>y</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_left</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>96</string>
							<key>y</key>
							<string>32</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_right</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>96</string>
							<key>y</key>
							<string>64</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_up</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>96</string>
							<key>y</key>
							<string>96</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>bunny_girl2</string>
			<key>texture</key>
			<string>bunny_girl.png</string>
		</dict>
		<dict>
			<key>action_array</key>
			<array>
				<dict>
					<key>action_name</key>
					<string>move_down</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>144</string>
							<key>y</key>
							<string>0</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>192</string>
							<key>y</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_left</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>144</string>
							<key>y</key>
							<string>32</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>192</string>
							<key>y</key>
							<string>32</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_right</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>144</string>
							<key>y</key>
							<string>64</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>192</string>
							<key>y</key>
							<string>64</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_up</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>144</string>
							<key>y</key>
							<string>96</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>192</string>
							<key>y</key>
							<string>96</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_down</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>168</string>
							<key>y</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_left</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>168</string>
							<key>y</key>
							<string>32</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_right</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>168</string>
							<key>y</key>
							<string>64</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_up</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>168</string>
							<key>y</key>
							<string>96</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>bunny_girl3</string>
			<key>texture</key>
			<string>bunny_girl.png</string>
		</dict>
		<dict>
			<key>action_array</key>
			<array>
				<dict>
					<key>action_name</key>
					<string>move_down</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>216</string>
							<key>y</key>
							<string>0</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>264</string>
							<key>y</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_left</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>216</string>
							<key>y</key>
							<string>32</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>264</string>
							<key>y</key>
							<string>32</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_right</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>216</string>
							<key>y</key>
							<string>64</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>264</string>
							<key>y</key>
							<string>64</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_up</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>216</string>
							<key>y</key>
							<string>96</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>264</string>
							<key>y</key>
							<string>96</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_down</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>240</string>
							<key>y</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_left</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>240</string>
							<key>y</key>
							<string>32</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_right</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>240</string>
							<key>y</key>
							<string>64</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_up</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>240</string>
							<key>y</key>
							<string>96</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>bunny_girl4</string>
			<key>texture</key>
			<string>bunny_girl.png</string>
		</dict>
		<dict>
			<key>action_array</key>
			<array>
				<dict>
					<key>action_name</key>
					<string>move_down</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>0</string>
							<key>y</key>
							<string>128</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>48</string>
							<key>y</key>
							<string>128</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_left</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>0</string>
							<key>y</key>
							<string>160</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>48</string>
							<key>y</key>
							<string>160</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_right</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>0</string>
							<key>y</key>
							<string>192</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>48</string>
							<key>y</key>
							<string>192</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_up</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>0</string>
							<key>y</key>
							<string>224</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>48</string>
							<key>y</key>
							<string>224</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_down</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>24</string>
							<key>y</key>
							<string>128</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_left</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>24</string>
							<key>y</key>
							<string>160</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_right</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>24</string>
							<key>y</key>
							<string>192</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_up</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>24</string>
							<key>y</key>
							<string>224</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>bunny_girl5</string>
			<key>texture</key>
			<string>bunny_girl.png</string>
		</dict>
		<dict>
			<key>action_array</key>
			<array>
				<dict>
					<key>action_name</key>
					<string>move_down</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>72</string>
							<key>y</key>
							<string>128</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>120</string>
							<key>y</key>
							<string>128</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_left</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>72</string>
							<key>y</key>
							<string>160</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>120</string>
							<key>y</key>
							<string>160</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_right</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>72</string>
							<key>y</key>
							<string>192</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>120</string>
							<key>y</key>
							<string>192</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_up</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>72</string>
							<key>y</key>
							<string>224</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>120</string>
							<key>y</key>
							<string>224</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_down</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>96</string>
							<key>y</key>
							<string>128</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_left</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>96</string>
							<key>y</key>
							<string>160</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_right</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>96</string>
							<key>y</key>
							<string>192</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_up</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>96</string>
							<key>y</key>
							<string>224</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>bunny_girl6</string>
			<key>texture</key>
			<string>bunny_girl.png</string>
		</dict>
		<dict>
			<key>action_array</key>
			<array>
				<dict>
					<key>action_name</key>
					<string>move_down</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>144</string>
							<key>y</key>
							<string>128</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>192</string>
							<key>y</key>
							<string>128</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_left</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>144</string>
							<key>y</key>
							<string>160</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>192</string>
							<key>y</key>
							<string>160</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_right</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>144</string>
							<key>y</key>
							<string>192</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>192</string>
							<key>y</key>
							<string>192</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_up</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>144</string>
							<key>y</key>
							<string>224</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>192</string>
							<key>y</key>
							<string>224</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_down</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>168</string>
							<key>y</key>
							<string>128</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_left</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>168</string>
							<key>y</key>
							<string>160</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_right</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>168</string>
							<key>y</key>
							<string>192</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_up</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>168</string>
							<key>y</key>
							<string>224</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>bunny_girl7</string>
			<key>texture</key>
			<string>bunny_girl.png</string>
		</dict>
		<dict>
			<key>action_array</key>
			<array>
				<dict>
					<key>action_name</key>
					<string>move_down</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>216</string>
							<key>y</key>
							<string>128</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>264</string>
							<key>y</key>
							<string>128</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_left</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>216</string>
							<key>y</key>
							<string>160</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>264</string>
							<key>y</key>
							<string>160</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_right</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>216</string>
							<key>y</key>
							<string>192</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>264</string>
							<key>y</key>
							<string>192</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>move_up</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>216</string>
							<key>y</key>
							<string>224</string>
						</dict>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>264</string>
							<key>y</key>
							<string>224</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_down</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>240</string>
							<key>y</key>
							<string>128</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_left</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>240</string>
							<key>y</key>
							<string>160</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_right</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>240</string>
							<key>y</key>
							<string>192</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action_name</key>
					<string>stand_up</string>
					<key>frame_array</key>
					<array>
						<dict>
							<key>height</key>
							<string>32</string>
							<key>width</key>
							<string>24</string>
							<key>x</key>
							<string>240</string>
							<key>y</key>
							<string>224</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>name</key>
			<string>bunny_girl8</string>
			<key>texture</key>
			<string>bunny_girl.png</string>
		</dict>
	</array>
</dict>
</plist>
