<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>credits.png</key>
		<dict>
			<key>frame</key>
			<string>{{539, 1}, {454, 176}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 24}, {452, 150}}</string>
			<key>sourceSize</key>
			<string>{454, 176}</string>
		</dict>
		<key>credits01.png</key>
		<dict>
			<key>frame</key>
			<string>{{456, 1}, {82, 182}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {82, 180}}</string>
			<key>sourceSize</key>
			<string>{82, 182}</string>
		</dict>
		<key>credits02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 366}, {162, 138}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {162, 138}}</string>
			<key>sourceSize</key>
			<string>{162, 138}</string>
		</dict>
		<key>credits03.png</key>
		<dict>
			<key>frame</key>
			<string>{{164, 366}, {120, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {118, 46}}</string>
			<key>sourceSize</key>
			<string>{120, 46}</string>
		</dict>
		<key>credits1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {454, 364}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{35, 1}, {400, 361}}</string>
			<key>sourceSize</key>
			<string>{454, 364}</string>
		</dict>
		<key>ver.png</key>
		<dict>
			<key>frame</key>
			<string>{{285, 366}, {98, 16}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {96, 14}}</string>
			<key>sourceSize</key>
			<string>{98, 16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>
