<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Dis-num.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 455}, {240, 24}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {239, 24}}</string>
			<key>sourceSize</key>
			<string>{240, 24}</string>
		</dict>
		<key>M-P.png</key>
		<dict>
			<key>frame</key>
			<string>{{508, 455}, {56, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 22}}</string>
			<key>sourceSize</key>
			<string>{56, 22}</string>
		</dict>
		<key>POW-ui-bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{565, 455}, {300, 20}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 20}}</string>
			<key>sourceSize</key>
			<string>{300, 20}</string>
		</dict>
		<key>POW0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 480}, {300, 20}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 20}}</string>
			<key>sourceSize</key>
			<string>{300, 20}</string>
		</dict>
		<key>POW1.png</key>
		<dict>
			<key>frame</key>
			<string>{{302, 480}, {300, 20}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 20}}</string>
			<key>sourceSize</key>
			<string>{300, 20}</string>
		</dict>
		<key>blackt.png</key>
		<dict>
			<key>frame</key>
			<string>{{139, 406}, {68, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{3, 1}, {65, 41}}</string>
			<key>sourceSize</key>
			<string>{68, 42}</string>
		</dict>
		<key>dot.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 455}, {24, 24}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 24}}</string>
			<key>sourceSize</key>
			<string>{24, 24}</string>
		</dict>
		<key>fever00.png</key>
		<dict>
			<key>frame</key>
			<string>{{749, 406}, {118, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{6, 1}, {108, 31}}</string>
			<key>sourceSize</key>
			<string>{118, 32}</string>
		</dict>
		<key>fever01.png</key>
		<dict>
			<key>frame</key>
			<string>{{445, 325}, {122, 62}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {114, 60}}</string>
			<key>sourceSize</key>
			<string>{122, 62}</string>
		</dict>
		<key>fever02.png</key>
		<dict>
			<key>frame</key>
			<string>{{199, 325}, {122, 62}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {122, 59}}</string>
			<key>sourceSize</key>
			<string>{122, 62}</string>
		</dict>
		<key>fever03.png</key>
		<dict>
			<key>frame</key>
			<string>{{322, 325}, {122, 62}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {118, 61}}</string>
			<key>sourceSize</key>
			<string>{122, 62}</string>
		</dict>
		<key>flash00.png</key>
		<dict>
			<key>frame</key>
			<string>{{214, 1}, {212, 212}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{36, 40}, {139, 135}}</string>
			<key>sourceSize</key>
			<string>{212, 212}</string>
		</dict>
		<key>flash01.png</key>
		<dict>
			<key>frame</key>
			<string>{{427, 1}, {212, 212}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{8, 9}, {194, 194}}</string>
			<key>sourceSize</key>
			<string>{212, 212}</string>
		</dict>
		<key>flash02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {212, 212}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{2, 3}, {207, 207}}</string>
			<key>sourceSize</key>
			<string>{212, 212}</string>
		</dict>
		<key>flash03.png</key>
		<dict>
			<key>frame</key>
			<string>{{640, 1}, {212, 212}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{4, 4}, {203, 204}}</string>
			<key>sourceSize</key>
			<string>{212, 212}</string>
		</dict>
		<key>goal0.png</key>
		<dict>
			<key>frame</key>
			<string>{{152, 214}, {278, 110}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {277, 109}}</string>
			<key>sourceSize</key>
			<string>{278, 110}</string>
		</dict>
		<key>goal1.png</key>
		<dict>
			<key>frame</key>
			<string>{{431, 214}, {106, 106}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {106, 105}}</string>
			<key>sourceSize</key>
			<string>{106, 106}</string>
		</dict>
		<key>h-score2.png</key>
		<dict>
			<key>frame</key>
			<string>{{237, 406}, {400, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {397, 40}}</string>
			<key>sourceSize</key>
			<string>{400, 40}</string>
		</dict>
		<key>hui00.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 214}, {150, 110}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {149, 109}}</string>
			<key>sourceSize</key>
			<string>{150, 110}</string>
		</dict>
		<key>hui01.png</key>
		<dict>
			<key>frame</key>
			<string>{{844, 214}, {136, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {135, 79}}</string>
			<key>sourceSize</key>
			<string>{136, 80}</string>
		</dict>
		<key>ingame-num01.png</key>
		<dict>
			<key>frame</key>
			<string>{{267, 455}, {240, 24}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {240, 24}}</string>
			<key>sourceSize</key>
			<string>{240, 24}</string>
		</dict>
		<key>med-ingame.png</key>
		<dict>
			<key>frame</key>
			<string>{{100, 325}, {98, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {97, 78}}</string>
			<key>sourceSize</key>
			<string>{98, 80}</string>
		</dict>
		<key>rocket-icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{853, 1}, {150, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {148, 126}}</string>
			<key>sourceSize</key>
			<string>{150, 128}</string>
		</dict>
		<key>rocket-ingame.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 325}, {98, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {97, 79}}</string>
			<key>sourceSize</key>
			<string>{98, 80}</string>
		</dict>
		<key>shadow.png</key>
		<dict>
			<key>frame</key>
			<string>{{568, 325}, {134, 60}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {133, 58}}</string>
			<key>sourceSize</key>
			<string>{134, 60}</string>
		</dict>
		<key>shop-icon-white.png</key>
		<dict>
			<key>frame</key>
			<string>{{739, 214}, {104, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {104, 95}}</string>
			<key>sourceSize</key>
			<string>{104, 96}</string>
		</dict>
		<key>smoke0.png</key>
		<dict>
			<key>frame</key>
			<string>{{74, 406}, {64, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 47}}</string>
			<key>sourceSize</key>
			<string>{64, 48}</string>
		</dict>
		<key>smoke1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 406}, {72, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {72, 47}}</string>
			<key>sourceSize</key>
			<string>{72, 48}</string>
		</dict>
		<key>speedline.png</key>
		<dict>
			<key>frame</key>
			<string>{{603, 480}, {414, 6}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{15, 0}, {393, 5}}</string>
			<key>sourceSize</key>
			<string>{414, 6}</string>
		</dict>
		<key>star00.png</key>
		<dict>
			<key>frame</key>
			<string>{{712, 406}, {36, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 3}, {33, 31}}</string>
			<key>sourceSize</key>
			<string>{36, 36}</string>
		</dict>
		<key>star01.png</key>
		<dict>
			<key>frame</key>
			<string>{{638, 406}, {36, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 3}, {33, 31}}</string>
			<key>sourceSize</key>
			<string>{36, 36}</string>
		</dict>
		<key>star02.png</key>
		<dict>
			<key>frame</key>
			<string>{{675, 406}, {36, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 3}, {33, 31}}</string>
			<key>sourceSize</key>
			<string>{36, 36}</string>
		</dict>
		<key>sucdone.png</key>
		<dict>
			<key>frame</key>
			<string>{{703, 325}, {294, 52}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {293, 51}}</string>
			<key>sourceSize</key>
			<string>{294, 52}</string>
		</dict>
		<key>tap.png</key>
		<dict>
			<key>frame</key>
			<string>{{538, 214}, {200, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 96}}</string>
			<key>sourceSize</key>
			<string>{200, 96}</string>
		</dict>
		<key>up.png</key>
		<dict>
			<key>frame</key>
			<string>{{208, 406}, {28, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {27, 39}}</string>
			<key>sourceSize</key>
			<string>{28, 40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>
