<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Xb.png</key>
		<dict>
			<key>frame</key>
			<string>{{162, 263}, {78, 78}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {78, 78}}</string>
			<key>sourceSize</key>
			<string>{78, 78}</string>
		</dict>
		<key>bgn0.png</key>
		<dict>
			<key>frame</key>
			<string>{{244, 132}, {242, 130}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {242, 130}}</string>
			<key>sourceSize</key>
			<string>{242, 130}</string>
		</dict>
		<key>bgn1.png</key>
		<dict>
			<key>frame</key>
			<string>{{244, 1}, {242, 130}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {242, 130}}</string>
			<key>sourceSize</key>
			<string>{242, 130}</string>
		</dict>
		<key>bgn2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {242, 130}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {242, 130}}</string>
			<key>sourceSize</key>
			<string>{242, 130}</string>
		</dict>
		<key>bgn3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 132}, {242, 130}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {242, 130}}</string>
			<key>sourceSize</key>
			<string>{242, 130}</string>
		</dict>
		<key>buy-gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 263}, {160, 104}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {159, 103}}</string>
			<key>sourceSize</key>
			<string>{160, 104}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>
