<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BG.png</key>
		<dict>
			<key>frame</key>
			<string>{{962, 1}, {334, 392}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {334, 391}}</string>
			<key>sourceSize</key>
			<string>{334, 392}</string>
		</dict>
		<key>Darkone2-00.png</key>
		<dict>
			<key>frame</key>
			<string>{{962, 575}, {264, 102}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {264, 102}}</string>
			<key>sourceSize</key>
			<string>{264, 102}</string>
		</dict>
		<key>Darkone2-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1297, 310}, {264, 102}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {264, 102}}</string>
			<key>sourceSize</key>
			<string>{264, 102}</string>
		</dict>
		<key>Darkone2-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1297, 207}, {264, 102}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {264, 102}}</string>
			<key>sourceSize</key>
			<string>{264, 102}</string>
		</dict>
		<key>Darkone2-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{962, 781}, {264, 102}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {264, 102}}</string>
			<key>sourceSize</key>
			<string>{264, 102}</string>
		</dict>
		<key>Darkone2-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{962, 678}, {264, 102}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {264, 102}}</string>
			<key>sourceSize</key>
			<string>{264, 102}</string>
		</dict>
		<key>Darkone2-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{962, 472}, {264, 102}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {264, 102}}</string>
			<key>sourceSize</key>
			<string>{264, 102}</string>
		</dict>
		<key>Darkone2-13.png</key>
		<dict>
			<key>frame</key>
			<string>{{962, 884}, {264, 102}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {264, 102}}</string>
			<key>sourceSize</key>
			<string>{264, 102}</string>
		</dict>
		<key>Darkone2-14.png</key>
		<dict>
			<key>frame</key>
			<string>{{1297, 1}, {264, 102}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {264, 102}}</string>
			<key>sourceSize</key>
			<string>{264, 102}</string>
		</dict>
		<key>Darkone2-15.png</key>
		<dict>
			<key>frame</key>
			<string>{{1297, 104}, {264, 102}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {264, 102}}</string>
			<key>sourceSize</key>
			<string>{264, 102}</string>
		</dict>
		<key>G.png</key>
		<dict>
			<key>frame</key>
			<string>{{1916, 405}, {16, 16}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {16, 16}}</string>
			<key>sourceSize</key>
			<string>{16, 16}</string>
		</dict>
		<key>GOLD.png</key>
		<dict>
			<key>frame</key>
			<string>{{1739, 735}, {100, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {99, 34}}</string>
			<key>sourceSize</key>
			<string>{100, 38}</string>
		</dict>
		<key>NO-icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1739, 227}, {160, 104}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {160, 104}}</string>
			<key>sourceSize</key>
			<string>{160, 104}</string>
		</dict>
		<key>ok-icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1739, 122}, {162, 104}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {162, 104}}</string>
			<key>sourceSize</key>
			<string>{162, 104}</string>
		</dict>
		<key>SHOP-BG.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {960, 640}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {960, 640}}</string>
			<key>sourceSize</key>
			<string>{960, 640}</string>
		</dict>
		<key>buy-icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1739, 332}, {160, 104}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {159, 103}}</string>
			<key>sourceSize</key>
			<string>{160, 104}</string>
		</dict>
		<key>buy-icon2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1739, 561}, {154, 106}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {153, 106}}</string>
			<key>sourceSize</key>
			<string>{154, 106}</string>
		</dict>
		<key>comingsoon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1739, 668}, {122, 66}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {122, 65}}</string>
			<key>sourceSize</key>
			<string>{122, 66}</string>
		</dict>
		<key>exit.png</key>
		<dict>
			<key>frame</key>
			<string>{{1297, 413}, {186, 104}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{3, 1}, {182, 102}}</string>
			<key>sourceSize</key>
			<string>{186, 104}</string>
		</dict>
		<key>fast-CD.png</key>
		<dict>
			<key>frame</key>
			<string>{{1739, 869}, {98, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {98, 92}}</string>
			<key>sourceSize</key>
			<string>{98, 94}</string>
		</dict>
		<key>fast-CD2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1739, 774}, {98, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {98, 92}}</string>
			<key>sourceSize</key>
			<string>{98, 94}</string>
		</dict>
		<key>jiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{1916, 283}, {66, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {66, 40}}</string>
			<key>sourceSize</key>
			<string>{66, 40}</string>
		</dict>
		<key>num-gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{962, 394}, {300, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {299, 35}}</string>
			<key>sourceSize</key>
			<string>{300, 36}</string>
		</dict>
		<key>num-icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1739, 454}, {154, 106}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {153, 106}}</string>
			<key>sourceSize</key>
			<string>{154, 106}</string>
		</dict>
		<key>num-price.png</key>
		<dict>
			<key>frame</key>
			<string>{{1739, 437}, {160, 16}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {158, 13}}</string>
			<key>sourceSize</key>
			<string>{160, 16}</string>
		</dict>
		<key>num00.png</key>
		<dict>
			<key>frame</key>
			<string>{{962, 431}, {300, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {296, 38}}</string>
			<key>sourceSize</key>
			<string>{300, 40}</string>
		</dict>
		<key>price0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1916, 219}, {82, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {80, 30}}</string>
			<key>sourceSize</key>
			<string>{82, 32}</string>
		</dict>
		<key>pricepaper.png</key>
		<dict>
			<key>frame</key>
			<string>{{1916, 324}, {60, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {60, 77}}</string>
			<key>sourceSize</key>
			<string>{60, 80}</string>
		</dict>
		<key>shopicon-00.png</key>
		<dict>
			<key>frame</key>
			<string>{{1297, 760}, {176, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 119}}</string>
			<key>sourceSize</key>
			<string>{176, 120}</string>
		</dict>
		<key>shopicon-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1562, 727}, {176, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 119}}</string>
			<key>sourceSize</key>
			<string>{176, 120}</string>
		</dict>
		<key>shopicon-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1297, 881}, {176, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 119}}</string>
			<key>sourceSize</key>
			<string>{176, 120}</string>
		</dict>
		<key>shopicon-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1562, 485}, {176, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 119}}</string>
			<key>sourceSize</key>
			<string>{176, 120}</string>
		</dict>
		<key>shopicon-04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1297, 518}, {176, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 119}}</string>
			<key>sourceSize</key>
			<string>{176, 120}</string>
		</dict>
		<key>shopicon-041.png</key>
		<dict>
			<key>frame</key>
			<string>{{1562, 364}, {176, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 119}}</string>
			<key>sourceSize</key>
			<string>{176, 120}</string>
		</dict>
		<key>shopicon-05.png</key>
		<dict>
			<key>frame</key>
			<string>{{1297, 639}, {176, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 119}}</string>
			<key>sourceSize</key>
			<string>{176, 120}</string>
		</dict>
		<key>shopicon-051.png</key>
		<dict>
			<key>frame</key>
			<string>{{1562, 1}, {176, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 119}}</string>
			<key>sourceSize</key>
			<string>{176, 120}</string>
		</dict>
		<key>shopicon-06.png</key>
		<dict>
			<key>frame</key>
			<string>{{1562, 606}, {176, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 119}}</string>
			<key>sourceSize</key>
			<string>{176, 120}</string>
		</dict>
		<key>shopicon-07.png</key>
		<dict>
			<key>frame</key>
			<string>{{1562, 122}, {176, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 119}}</string>
			<key>sourceSize</key>
			<string>{176, 120}</string>
		</dict>
		<key>shopicon-08.png</key>
		<dict>
			<key>frame</key>
			<string>{{1562, 848}, {176, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 119}}</string>
			<key>sourceSize</key>
			<string>{176, 120}</string>
		</dict>
		<key>shopicon-09.png</key>
		<dict>
			<key>frame</key>
			<string>{{1562, 243}, {176, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 119}}</string>
			<key>sourceSize</key>
			<string>{176, 120}</string>
		</dict>
		<key>shopicon-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1739, 1}, {176, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 119}}</string>
			<key>sourceSize</key>
			<string>{176, 120}</string>
		</dict>
		<key>soldout.png</key>
		<dict>
			<key>frame</key>
			<string>{{1916, 252}, {68, 30}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {67, 30}}</string>
			<key>sourceSize</key>
			<string>{68, 30}</string>
		</dict>
		<key>st.png</key>
		<dict>
			<key>frame</key>
			<string>{{1916, 1}, {98, 108}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {97, 108}}</string>
			<key>sourceSize</key>
			<string>{98, 108}</string>
		</dict>
		<key>st2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1916, 110}, {98, 108}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {97, 108}}</string>
			<key>sourceSize</key>
			<string>{98, 108}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
	</dict>
</dict>
</plist>
