<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>b-stage-lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{216, 1}, {214, 162}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 162}}</string>
			<key>sourceSize</key>
			<string>{214, 162}</string>
		</dict>
		<key>b-stage00.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 327}, {214, 162}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 162}}</string>
			<key>sourceSize</key>
			<string>{214, 162}</string>
		</dict>
		<key>b-stage01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 164}, {214, 162}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 162}}</string>
			<key>sourceSize</key>
			<string>{214, 162}</string>
		</dict>
		<key>b-stage02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {214, 162}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 162}}</string>
			<key>sourceSize</key>
			<string>{214, 162}</string>
		</dict>
		<key>b-stage03.png</key>
		<dict>
			<key>frame</key>
			<string>{{216, 327}, {214, 162}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 162}}</string>
			<key>sourceSize</key>
			<string>{214, 162}</string>
		</dict>
		<key>b-stage04.png</key>
		<dict>
			<key>frame</key>
			<string>{{216, 164}, {214, 162}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {214, 162}}</string>
			<key>sourceSize</key>
			<string>{214, 162}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>
