<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Goals.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {566, 372}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {566, 372}}</string>
			<key>sourceSize</key>
			<string>{566, 372}</string>
		</dict>
		<key>b-stage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1129, 799}, {428, 60}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {427, 59}}</string>
			<key>sourceSize</key>
			<string>{428, 60}</string>
		</dict>
		<key>bestrecord.png</key>
		<dict>
			<key>frame</key>
			<string>{{1690, 1}, {172, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {169, 37}}</string>
			<key>sourceSize</key>
			<string>{172, 38}</string>
		</dict>
		<key>big-lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1690, 175}, {136, 150}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {136, 148}}</string>
			<key>sourceSize</key>
			<string>{136, 150}</string>
		</dict>
		<key>dot-b.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863, 738}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {18, 18}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>dot-w.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863, 717}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {18, 18}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>highscore2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1129, 961}, {216, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {215, 31}}</string>
			<key>sourceSize</key>
			<string>{216, 32}</string>
		</dict>
		<key>icon-back.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863, 1}, {106, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {104, 94}}</string>
			<key>sourceSize</key>
			<string>{106, 96}</string>
		</dict>
		<key>m.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863, 369}, {58, 58}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {57, 55}}</string>
			<key>sourceSize</key>
			<string>{58, 58}</string>
		</dict>
		<key>new.png</key>
		<dict>
			<key>frame</key>
			<string>{{1690, 920}, {118, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {117, 50}}</string>
			<key>sourceSize</key>
			<string>{118, 50}</string>
		</dict>
		<key>new1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1690, 853}, {124, 66}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 2}, {123, 63}}</string>
			<key>sourceSize</key>
			<string>{124, 66}</string>
		</dict>
		<key>o-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863, 475}, {46, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {46, 46}}</string>
			<key>sourceSize</key>
			<string>{46, 46}</string>
		</dict>
		<key>o-blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863, 563}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {31, 31}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>o-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863, 639}, {36, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {35, 34}}</string>
			<key>sourceSize</key>
			<string>{36, 34}</string>
		</dict>
		<key>playb.png</key>
		<dict>
			<key>frame</key>
			<string>{{1129, 860}, {294, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {294, 99}}</string>
			<key>sourceSize</key>
			<string>{294, 100}</string>
		</dict>
		<key>resume-icon2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863, 98}, {106, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {105, 94}}</string>
			<key>sourceSize</key>
			<string>{106, 94}</string>
		</dict>
		<key>shop-icon2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863, 193}, {104, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {104, 95}}</string>
			<key>sourceSize</key>
			<string>{104, 96}</string>
		</dict>
		<key>stage-bonus.png</key>
		<dict>
			<key>frame</key>
			<string>{{1129, 400}, {560, 398}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 2}, {558, 394}}</string>
			<key>sourceSize</key>
			<string>{560, 398}</string>
		</dict>
		<key>stage00.png</key>
		<dict>
			<key>frame</key>
			<string>{{1129, 1}, {560, 398}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {558, 397}}</string>
			<key>sourceSize</key>
			<string>{560, 398}</string>
		</dict>
		<key>stage01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 374}, {560, 398}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {559, 396}}</string>
			<key>sourceSize</key>
			<string>{560, 398}</string>
		</dict>
		<key>stage02.png</key>
		<dict>
			<key>frame</key>
			<string>{{568, 1}, {560, 398}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {559, 396}}</string>
			<key>sourceSize</key>
			<string>{560, 398}</string>
		</dict>
		<key>stage03.png</key>
		<dict>
			<key>frame</key>
			<string>{{568, 400}, {560, 398}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {560, 396}}</string>
			<key>sourceSize</key>
			<string>{560, 398}</string>
		</dict>
		<key>stages-O.png</key>
		<dict>
			<key>frame</key>
			<string>{{1690, 611}, {130, 122}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {130, 121}}</string>
			<key>sourceSize</key>
			<string>{130, 122}</string>
		</dict>
		<key>stages-lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1690, 488}, {130, 122}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {130, 121}}</string>
			<key>sourceSize</key>
			<string>{130, 122}</string>
		</dict>
		<key>stages-sel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1690, 40}, {142, 134}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {142, 133}}</string>
			<key>sourceSize</key>
			<string>{142, 134}</string>
		</dict>
		<key>stages.png</key>
		<dict>
			<key>frame</key>
			<string>{{1690, 365}, {130, 122}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {130, 121}}</string>
			<key>sourceSize</key>
			<string>{130, 122}</string>
		</dict>
		<key>stars-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863, 428}, {46, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {46, 46}}</string>
			<key>sourceSize</key>
			<string>{46, 46}</string>
		</dict>
		<key>stars-blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863, 522}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {40, 38}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>stars-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863, 604}, {36, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 33}}</string>
			<key>sourceSize</key>
			<string>{36, 34}</string>
		</dict>
		<key>totelscore.png</key>
		<dict>
			<key>frame</key>
			<string>{{1690, 326}, {132, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {131, 37}}</string>
			<key>sourceSize</key>
			<string>{132, 38}</string>
		</dict>
		<key>unlock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1690, 734}, {128, 118}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 118}}</string>
			<key>sourceSize</key>
			<string>{128, 118}</string>
		</dict>
		<key>xie_gang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863, 674}, {22, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {22, 42}}</string>
			<key>sourceSize</key>
			<string>{22, 42}</string>
		</dict>
		<key>xx.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863, 290}, {78, 78}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {78, 78}}</string>
			<key>sourceSize</key>
			<string>{78, 78}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
	</dict>
</dict>
</plist>
