<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Transmitter-bird.png</key>
		<dict>
			<key>frame</key>
			<string>{{765, 1}, {148, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {147, 127}}</string>
			<key>sourceSize</key>
			<string>{148, 128}</string>
		</dict>
		<key>Transmitter-lv3-07.png</key>
		<dict>
			<key>frame</key>
			<string>{{524, 1}, {240, 276}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {240, 273}}</string>
			<key>sourceSize</key>
			<string>{240, 276}</string>
		</dict>
		<key>Transmitter-lv3-08.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {522, 180}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {521, 177}}</string>
			<key>sourceSize</key>
			<string>{522, 180}</string>
		</dict>
		<key>Transmitter-lv3-09.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 278}, {124, 104}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {123, 104}}</string>
			<key>sourceSize</key>
			<string>{124, 104}</string>
		</dict>
		<key>Transmitter-lv3-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{207, 278}, {54, 28}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {54, 27}}</string>
			<key>sourceSize</key>
			<string>{54, 28}</string>
		</dict>
		<key>Transmitter-lv3-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{126, 278}, {80, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {80, 21}}</string>
			<key>sourceSize</key>
			<string>{80, 22}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>
