<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{751, 1}, {76, 86}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {72, 85}}</string>
			<key>sourceSize</key>
			<string>{76, 86}</string>
		</dict>
		<key>kuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{186, 1}, {564, 132}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {564, 131}}</string>
			<key>sourceSize</key>
			<string>{564, 132}</string>
		</dict>
		<key>pass.png</key>
		<dict>
			<key>frame</key>
			<string>{{828, 1}, {44, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {43, 39}}</string>
			<key>sourceSize</key>
			<string>{44, 40}</string>
		</dict>
		<key>touxiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {184, 154}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {181, 152}}</string>
			<key>sourceSize</key>
			<string>{184, 154}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{1024, 256}</string>
	</dict>
</dict>
</plist>
